[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/efectn/Desktop/tearch-loh.jpg]
row=3
col=2

[/home/efectn/Desktop/TeArchLogo]
row=3
col=0

[/home/efectn/Desktop/128x128.png]
row=2
col=2

[/home/efectn/Desktop/tearch-loh.png]
row=4
col=2

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-12_19-45-23.png]
row=2
col=1

[/home/efectn/Desktop/tearch-loho.svg]
row=5
col=2

[/home/efectn/Desktop/75903-tux-racer-linux-penguins-penguin-free-transparent-image-hq.png]
row=0
col=3

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-12_19-44-27.png]
row=1
col=1

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-12_19-44-10.png]
row=0
col=1

[/home/efectn/Desktop/Tela-1080p]
row=4
col=0

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-12_19-57-38.png]
row=4
col=1

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-15_17-24-45.png]
row=5
col=1

[/home/efectn/Desktop/son.png]
row=0
col=2

[/home/efectn/Desktop/Wallpapers]
row=5
col=0

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-20_19-40-55.png]
row=1
col=2

[/home/efectn/Desktop/Ekran görüntüsü_2020-06-12_19-45-46.png]
row=3
col=1

[ab272a2d-af19-48a3-b207-f4ecf6393327]
row=2
col=0

[/]
row=0
col=0

[/home/efectn]
row=1
col=0

